# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Virtual environment
backend/.venv/
venv/

# Environment variables
backend/.env
backend/.env.local

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
